<!DOCTYPE html>
<html ng-app="blackjack">
<head>
  <title>Realtime Blackjack</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="BlackjackCtrl">

  <div class="container" ng-hide="setName">
    <h1>Please Select a Name</h1>
    <form name="selectUserName">
      <label>Name</label>
      <input type="text" ng-model="user.userName">
      <button ng-click="updateName()">
        Start the awesome
      </button>
    </form>

  </div>


  <div class="container" ng-show="setName">

    <div class="sidebar">
      Welcome to the party <br> {{currentUser.name}} <br>

      Bank: {{currentUser.bank | currency}} <br>

      In Play: {{currentUser.money_in_play | currency}}

      <div ng-show="gameStarted">
        Wager: {{wager | currency}}
      </div>
    </div>

    <div class="main" ng-hide="gameStarted">
       <h4>How much money would you like to retrieve from the bank?</h4>
      <form name="moneyRequestForm">
        <input ng-model="requestAmount" type="text">
        <button ng-click="requestMoney()">Request Money</button>
      </form>

      <button ng-click="startGame()" ng-show="!gameStarted" id="deal">
        Start the game!
      </button>

    </div>

    <div class="main" ng-show="gameStarted">

      <h1>Blackjack</h1>


 
      <div class="board" ng-show="gameStarted">
        <div class="dealer_board">
          <div class="card facedown">

          </div>
          <span ng-repeat="playerCard in dealerHand.cards">
            <blackjack-card index="$index" card="playerCard"></blackjack-card>
          </span>
        </div>


        <div ng-repeat="hand in playerHands" class="player_board">
          <span ng-repeat="handCard in hand.cards">
            <!-- <pre>{{handCard|json}}</pre> -->
            <blackjack-card index="$index" card="handCard"></blackjack-card>
          </span>
        </div>
        <!-- <player-hand ng-repeat="hand in playerHands" hand="hand"></player-hand> -->

        <h3>Score: {{currentScore()}}</h3>
        <div id="hit_me" ng-show="eligibleToHit()" ng-click="hit()">Hit Me</div>
        <div id="double" ng-show="eligibleToDouble()" ng-click="doubleDown()">Double Down</div>
        <div id="stand" ng-show="eligibleToStand()" ng-click="stand()">Stand</div>
        <div id="split" ng-show="eligibleToSplit()" ng-click="split()"></div>
      </div>

    </div>

  </div>

  <% if user_signed_in? %>
    <div ng-model="user" ng-init="user(<%= render(template: '/users/create.json.jbuilder') %>)"></div>
  <% else %>
  
    <div ng-model="user" ng-init="user(null)"></div>
  <% end %>
<%#= yield %>

</body>
</html>
